.label
{
	-fx-font-size: 15px;
	-fx-min-width: 40px;
	-fx-padding: 5 5 5 5;
	-fx-alignment: center;
}

.year-picker
{
	-fx-background-color: transparent;
	-fx-border-radius: 0px;
	-fx-border-width: 1px;
	-fx-border-color: #000;
	-fx-font-size: 15px;
	-fx-padding: 2 10 2 5;
}

.year-picker > .arrow-button
{
	-fx-padding: 0 0 0 100;
}