.grid-cell
{
	-fx-border-color: black;
	-fx-border-width: 1px;
}

.no-day
{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.tooltip-label
{
	-fx-font-size: 10;
	-fx-alignment: baseline_right;
}

.even-month
{
	-fx-background-color: rgba(21, 157, 220, 0.5);
}

.odd-month
{
	-fx-background-color: rgba(200, 220, 82, 0.5);
}

.total
{
	-fx-background-color: rgba(143, 143, 143, 0.25);
}