.button
{
	-fx-background-color: transparent;
	-fx-text-fill: #000;
	-fx-border-radius: 0px;
	-fx-border-width: 1px;
	-fx-border-color: #000;
	-fx-font-size: 16px;
	-fx-padding: 2 10 2 5;
}

.button:pressed
{
	-fx-background-color: #000;
	-fx-text-fill: #FFF;
}
