.unit-addition-stage
{
	-fx-padding: 10;
	-fx-border-width: 1px;
	-fx-border-color: #000;
}

.input-caption
{
	-fx-font-size: 16px;
}

.button, .text-field, .date-picker, .date-picker > .region, .combo-box
{
	-fx-background-color: transparent;
	-fx-text-fill: #000;
	-fx-border-radius: 0px;
	-fx-border-width: 1px;
	-fx-border-color: #000;
	-fx-font-size: 15px;
	-fx-padding: 2 10 2 5;
}

.date-picker .arrow-button, .combo-box .arrow-button
{
	-fx-background-color: transparent;
}

.date-picker > .text-field, .combo-box > .text-field
{
	-fx-border-color: transparent;
}

.button:pressed
{
	-fx-background-color: #000;
	-fx-text-fill: #FFF;
}
