<tr class="frame" name="_YEAR_">
    <td colspan="17" rowspan="2" class="empty">&nbsp;</td>
    <td colspan="2" rowspan="2">pro<br />Monat</td>
    <td colspan="3">WingTsun</td>
    <td colspan="2">_PER_MONTH_WINGTSUN_</td>
    <td colspan="2" rowspan="2">_PER_MONTH_TOTAL_</td>
    <td colspan="2" rowspan="2" class="empty">&nbsp;</td>
    <td colspan="2" rowspan="2">Jahr<br />_YEAR_</td>
    <td colspan="3">WingTsun</td>
    <td>_PER_DAY_WINGTSUN_</td>
    <td rowspan="2">_PER_DAY_TOTAL_</td>
    <td>_TOTAL_WINGTSUN_</td>
    <td rowspan="2">_TOTAL_</td>
</tr>
<tr class="frame" name="_YEAR_">
    <td colspan="3">Escrima</td>
    <td colspan="2">_PER_MONTH_ESCRIMA_</td>
    <td colspan="3">Escrima</td>
    <td>_PER_DAY_ESCRIMA_</td>
    <td>_TOTAL_ESCRIMA_</td>
</tr>