<tr class="frame">
    <td align="center" class="empty" colspan="2">_YEARS_</td>
    _DAYS_
    <td align="center" class="sum" colspan="2">pro Tag</td>
    <td align="center" class="sum" colspan="2">Summe</td>
</tr>