body
{
    font-family: "Arial", sans-serif;
}
.oddH
{
	background-color:rgba(200, 220, 82, 0.5);
}
.oddV
{
	background-color:rgba(204, 0, 204, 0.5);
}
.evenH
{
	background-color:rgba(21, 157, 220, 0.5);
}
.evenV
{
	background-color:rgba(102, 255, 102, 0.5);
}
.empty
{
	background-color: white;
	border: none;
}
.frame
{
    background-color: #b3cccc
}
select
{
	font-weight: bold;
}
.headerDay
{
    text-align: center;
    vertical-align: middle;
	font-weight: bold;
}
.sum
{
	background-color: rgba(143, 143, 143, 0.25);
}
table
{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
td
{
	padding: 5px;
}
.day
{
    text-align: center;
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

/* Tootlip Code */
.note
{
	position: relative;
	border-top-width: medium;
}
.note .notetext
{
	visibility: hidden;
	width: auto;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
}
.note:hover .notetext
{
	visibility: visible;
	opacity: 1;
}
/* Tootlip Code Ende */